body {
  font-family:
    Poppins,
    sans-serif;
  padding-right: 0 !important;
}

.container {
  max-width: 500px;
}

.info-image {
  width: 100%;
  height: auto;
  max-height: 100px;
  display: block;
}

.info-name {
  margin: 0;
}

.theme-color {
  color: #4b6869;
}

.bg-theme {
  background-color: #4b6869;
}

.navbar-brand {
  font-size: 28px;
  font-family:
    "Sansita Swashed",
    cursive;
}

.list-container {
  height: 92vh;
  position: fixed;
  top: 8vh;
  left: 10px;
  overflow-y: scroll;
}

.img-fluid {
  object-fit: cover;
  height: 100%;
}

.list-button {
  position: absolute;
  bottom: 50px;
  right: 50px;
  background-color: white;
  border-radius: 10px;
  visibility: hidden;
}

@media only screen and (max-width: 540px) {
  .list-button {
    visibility: visible;
  }

  .list-container {
    transition: transform 0.5s linear;
    transform: translateX(-100%);
  }
}

.transition-right {
  left: -540px;
  transition: transform 0.5s linear;
  transform: translateX(100%);
}

.transition-left {
  left: -540px;
  transition: transform 0.5s linear;
  transform: translateX(-100%);
}

.carousel-img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.padding-left {
  padding-left: 7%;
}

.hours-button,
.review-button,
.menu-button,
.nav-link {
  all: unset;
  cursor: pointer;
}

.avatar-image,
.review-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: grey 1px solid;
}

.settings-input {
  all: unset;
}

.margin-bottom {
  margin-bottom: 2rem;
}
