.map-container {
  width: 100%;
  height: 100vh;
}

.info-image {
  width: 100%;
  height: auto;
  max-height: 100px;
  display: block;
}

.info-name {
  margin: 0;
}

.theme-color {
  color: #4b6869;
}

.list-container {
  height: 100%;
  position: absolute;
  top: 10px;
  left: 10px;
  overflow: auto;
}

.img-fluid {
  object-fit: cover;
  height: 100%;
}
